<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo amet alias ab sunt consectetur quibusdam, totam ratione aut expedita hic delectus quasi corporis accusantium sequi eaque. Ipsa sequi natus inventore.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia sunt, quidem assumenda eligendi aspernatur recusandae consequatur inventore velit facilis similique deserunt omnis iusto modi voluptate fugit. Tempora aliquid corrupti aspernatur!</p>
    <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="btn btn-primary btn-lg">Bootstrap Web</a>
</div>